<!DOCTYPE html>

<html>
    <head>
      <link href="css/bootstrap.min.css" rel="stylesheet">
		<style type = "text/css">
        body
        {
            font-family: sans-serif; font-size: 14px; width: 800px; margin: 0 auto; padding: 10px; bgcolor: "silver"
        }
        .error{
        color: red; font-size: 20px
        }
        input[type=submit]{
        font-size: 24px;
        }
</style>

        <body bgcolor = "white">
        <title>CEAVCO Equipment Data Base</title>

        <h1>
            CEAVCO Equipment Data Base
        </h1>
        <br>
	</head>
	{% block content %}
	{% endblock %}
